$prefix: bsk-;

$black: #000;
$white: #fff;
$red: #C0392B;
$gray: #ECF0F1;
$blue: #33B6FF;

$overallPadding: 5px;

$default-fontsize: 16px;

$breakpoint-size-exlg: 1140px;
$breakpoint-size-lg: 960px;
$breakpoint-size-md: 768px;
$breakpoint-size-sm: 540px;